{% extends 'index.html' %}

{% block landingPage %}
{% if page == 'login' %}
<div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="action_btns">
                <div class="one_half"><a href="{% url 'login' %}" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="{% url 'logout' %}" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        
        <!-- Username & Password Login form -->
        <div class="user_login">
            <form action="" method="post">
                {% csrf_token %}
                <label>Email</label>
                <input type="email" name="email" required=""/>
                <br />

                <label>Password</label>
                <input type="password" name="password" required=""/>
                <br />

                <div class="checkbox">
                    <input id="remember" type="checkbox" />
                    <label for="remember">Remember me</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="{% url 'landing' %}" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red">Login</button></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Forgot password?</a>
        </div>

        {% else %}
        <!-- Register Form -->
        <div class="user_register">
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" href="#" class="btn btn_red">Register</button></div>
                </div>
            </form>
        </div>

        {% endif %}
    </section>
</div>
{% endblock %}