{% extends 'dashindex.html' %}
{% load static%}

{% block header %}
{% include 'components/header.html' with active='dashboard' %}
{% endblock header %}   

{% block style %}
    <style>
        .overlay{
            display:none;                                                                                            
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
    
        }
        .main{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .main > div{
            background: rgba(0,0,0,0.7);
            width: 200vw;
            height: 200vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* transform: scale(0); */
            transition: all 1s ease;
        }
        .main > div > div{
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            /* opacity: 0; */
            transition: opacity 1s ease;
            background: white;
            padding: 40px 70px;
            border-radius: 10px;
        }
        .inbox{
            position: fixed;
            right: 0;
            padding-top: 110px;
            padding-right: 15px;
            z-index: 100;
            cursor: pointer;
        }
        .fa-solid{
            cursor: pointer;
            font-size: 25px;
            color: #fff;
        }
        .inbox a{
            color: goldenrod;
        }
        .toggler{
            position: absolute;
            width: 100px;
            height: 50px;
            cursor: pointer;
            opacity: 0;
            z-index: 110;
        }
       .overlay.active{
        display: block;
       }
        .btn{
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block dashboardpage %}

<div class="overlay">
    <div aria-disabled="false" role="button" tabindex="0" class="inbox" title="Close" aria-label="Close"><span data-testid="x-viewer" data-icon="x-viewer" class=""><svg viewBox="0 0 24 24" width="24" height="24" class=""><path fill="currentColor" d="m19.8 5.8-1.6-1.6-6.2 6.2-6.2-6.2-1.6 1.6 6.2 6.2-6.2 6.2 1.6 1.6 6.2-6.2 6.2 6.2 1.6-1.6-6.2-6.2 6.2-6.2z"></path></svg></span></div>
    <div class="main">
        <div>
            <div>
                <div>
                    <p style="color: goldenrod;">Do you have a State ID?</p>
                </div>
                <div class="in">
                    <a href="{% url 'connector' fee='Traffic Fines' %}" class="btn btn-success">Yes</a>
                    <a href="{% url 'flexible' %}" class="btn btn-success">No</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about-us section">
    <div class="container">
                  <h1>Fines</h1>
                  <div class="row">
                    <div class="col-lg-4">
                        <form class="d-none d-md-flex ms-4">
                            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                        </form>
                      </div>
            </div>
                        
                        <div class="container-fluid pt-4 px-4">
                            <div class="row g-4">
                                <div class="col-sm-6 col-xl-3">
                                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                                     <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                        <div class="ms-3">
                                            <a href="{% url 'connector' fee='Fines or Penalties' %}" class="lette"><p class="mb-2">Fines/Penalties</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-3">
                                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                                    <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                        <div class="ms-3">
                                            <a href="{% url 'connector' fee='Illegal Trading' %}" class="lette"><p class="mb-2">Illegal Trading</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-3">
                                  <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                      <div class="ms-3">
                                          <a href="{% url 'connector' fee='Administrative Charges' %}" class="lette"><p class="mb-2">Administrative Charges</p>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-6 col-xl-3">
                                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                                  <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                    <div class="ms-3">
                                        <!-- <input type="submit" class="toggler active"/><p class="lette mb-2">Traffic Fines</p> -->
                                        <a href="#" class="lette but"><p class="mb-2">Traffic Fines</p></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xl-3">
                                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                                  <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                    <div class="ms-3">
                                        <!-- <input type="submit" class="toggler active"/><p class="lette mb-2">Traffic Fines</p> -->
                                        <a href="#" class="lette but"><p class="mb-2">Emergency health care fees</p></a>
                                    </div>
                                </div>
                            </div>
                                <!-- <div class="col-sm-6 col-xl-3">
                                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Total Revenue</p>
                                            <h6 class="mb-0">$1234</h6>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
    <div class="clear"></div>

{% endblock %}

{% block script %}
    <script>
        document.querySelectorAll('.but').forEach(el =>{
            el.addEventListener('click',function(e){
            console.log('clicked');
            document.querySelector('.overlay').classList.add('active');
          })
        });

        const close_btn = document.querySelector('div[aria-label="Close"]')
        close_btn.addEventListener('click', (e) => {
            e.currentTarget.parentElement.classList.remove('active');
            console.log(e.currentTarget.parentElement)
        })
        console.log(close_btn)
    </script>

{% endblock script%}