{% extends 'dashindex.html' %}
{% load static %}

{% block header %}
{% include 'components/header.html' with active='dashboard' %}
{% endblock header %}    

{% block dashboardpage %}

<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-dark">{{user.get_full_name}} Dashboard</h1>
              </div>
              <!-- <h1 style="color: red;">Services</h1> -->
        </div>
                    <div class="container-fluid pt-4 px-4">
                        <div class="row g-4">
                            <div class="col-sm-6 col-xl-3">
                                <a href="{% url 'fees' %}">
                                    <div class="bg-secondary rounded gen-card d-flex align-items-center justify-content-between p-4">
                                        <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                        <div class="ms-3">
                                            <p class="mb-2 letter">Fees</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <a href="{% url 'fines' %}">
                                    <div class="bg-secondary rounded gen-card d-flex align-items-center justify-content-between p-4">
                                        <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                        <div class="ms-3">
                                            <p class="mb-2 letter">Finest</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <a href="{% url 'licences' %}">
                                    <div class="bg-secondary rounded gen-card d-flex align-items-center justify-content-between p-4">
                                        <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                        <div class="ms-3">
                                            <p class="mb-2 letter">Licences</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <a href="{% url 'services' %}">
                                    <div class="bg-secondary rounded gen-card d-flex align-items-center justify-content-between p-4">
                                        <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                        <div class="ms-3">
                                            <p class="mb-2 letter">Services</p></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <a href="{% url 'sales' %}">
                                    <div class="bg-secondary rounded gen-card d-flex align-items-center justify-content-between p-4">
                                        <img src="{% static 'lib/img/curr.jpeg' %}" alt="" style="width: 50px; height: 40px; border-radius: 50%;">
                                        <div class="ms-3">
                                            <p class="mb-2 letter">sales</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

{% endblock %}