{% load static %}
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'home' %}" class="logo">
              <img src="{% static 'assets/images/logo.png' %}" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'home' %}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              {% comment %} <li class="scroll-to-section"><a href="#pricing">Pricing</a></li> {% endcomment %}
              <li class="scroll-to-section"><a href="#newsletter">Newsletter</a></li>
              {% if user.is_authenticated %}
              <li class="scroll-to-section"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li><div class="gradient-button"><a id="modal_trigger" href="{% url 'auth:logout' %}"><i class="fa fa-sign-in-alt"></i> Sign Out</a></div></li> 
              {% else %}
              <li><div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li> 
              {% endif %}
                
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>